.navList {
  display: flex;
  margin-left: auto;
}

.navListItem:first-child {
  margin-right: 39px;
}

.navListLink {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
