.footerContainer {
  width: 320px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;

  & div {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #545454;
  }

  & .footerDevText {
    margin-right: 10px;
  }

  & .footerStudText {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footerContainer {
    width: 768px;
    display: flex;
    justify-content: center;

    & div {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .footerContainer {
    width: 1280px;
  }
}
